.header{
    background-color: transparent;
    color: #ABABAB;
    position: relative;
    width: 100%;
}

.container{
    /* max-width: 1680px; */
    /* margin: 64px 120px; */
}

.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    width: 210px;
    height: 84px;
}

.navContainer .nav ul{
    display: flex;
    position: relative;
}

.navContainer .nav ul li{
    margin: 30px;
}

a{
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.2s;
}

a:hover{
    color: #DBDBDA;

}
